/*

Title & body text color: #464A50
Secondary stroke color, button color, link color: rgb(33, 163, 228) rgb(33, 163, 228) rgb(33, 163, 228)

*/

body
{
    font-family: Arial, AvenirNext-Medium, "Avenir Next", "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 22px;
}

a
{
    text-decoration: none;
    color: red;
    cursor: pointer;
}

*
{
         box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    font-weight: normal;
}

p, a
{
    margin: 0;
    padding: 0;
}

p, ul, ol, blockquote
{
    line-height: 33px;
}

h2
{
    font-family: "AvenirNextLTW01-Regular","Hiragino Sans GB", "Microsoft Yahei", "微软雅黑";
    font-size: 50px;
    line-height: 80px;
    text-align: center;
    margin: 120px 0 40px 0 ;
    padding: 0;
    color: #464A50;
}



h3
{
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    font-family: "Avenir Next LT W01 Demi","Hiragino Sans GB", "Microsoft Yahei", "微软雅黑";
    vertical-align: middle;
    color: #464A50;
}




pre.code
{
	color: black;
	background-color: rgb(250, 250, 250);
	border-left: 5px solid rgb(33, 163, 228);
	padding-left: 17px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 14px;
}

pre.code .class
{
	color: rgb(92, 38, 153);
}

pre.code .reserved
{
	color: rgb(170, 13, 145);
}

pre.code .number
{
	color: rgb(28, 0, 207);
}

pre.code .comment
{
	color: rgb(0, 116, 0);
}

pre.code .string
{
	color: rgb(196, 26, 22);
}



img.retinaVersion
{
	display: none !important;
}


hr.clear
{
    clear: both;
    border: none;
}

hr.entries_separator
{
    width: 720px;
    clear: both;
    border: 0;
    border-bottom: 1px solid rgb(158, 165, 175);
    opacity: 0.5;
    margin-bottom: 40px;
}

*::-webkit-input-placeholder
{
    color: rgba(255, 255, 255, 0.4);
}
*:-moz-placeholder
{
    /* FF 4-18 */
    color: rgba(255, 255, 255, 0.4);
}
*::-moz-placeholder
{
    /* FF 19+ */
    color: rgba(255, 255, 255, 0.4);
}
*:-ms-input-placeholder
{
    /* IE 10+ */
    color: rgba(255, 255, 255, 0.4);
}

/* *****************   BUTTONS   **************** */


a.button
{
    position: relative;
    display: inline-block;
    width: 160px;
    height: 40px;
    line-height: 36px;
    background: none;
    font-size: 18px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: "AvenirNextLTW01-Medium","Hiragino Sans GB", "Microsoft Yahei", "微软雅黑";
/*    padding: 8px 0;*/
    vertical-align: middle;

    -webkit-transition: background-color 0.15s ease-in-out;
    -moz-transition: background-color 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out;
}

div#bottom_buttons a.button
{
    vertical-align: middle;
    color: white;
    border: none;
    line-height: 40px;
/*    border-color: rgb(33, 163, 228);*/
    background-color: rgb(38, 147, 190);*/
}

div#bottom_buttons a.button:hover
{
	background-color: rgba(38, 147, 190, 0.7);
}

div#top_buttons a.button:hover
{
	background-color: rgba(255, 255, 255, 0.2);
}


a.button + a.button
{
    margin-left: 20px;
}

a.regular_button
{
    line-height: 38px;
    border: 1px solid rgb(255, 255, 255);
    -webkit-border-radius: 6.5px 6.5px 6.5px 6.5px;
       -moz-border-radius: 6.5px 6.5px 6.5px 6.5px;
            border-radius: 6.5px 6.5px 6.5px 6.5px;
    font-family: "AvenirNextLTW01-Regular","Hiragino Sans GB", "Microsoft Yahei", "微软雅黑";
}

a.medium_button

{
    border: 2px solid rgba(255, 255, 255, 0.925);
    -webkit-border-radius: 7px 7px 7px 7px;
       -moz-border-radius: 7px 7px 7px 7px;
            border-radius: 7px 7px 7px 7px;
    font-family: "AvenirNextLTW01-Medium","Hiragino Sans GB", "Microsoft Yahei", "微软雅黑";
}

a.demi_button
{
    border: 2px solid rgba(255, 255, 255, 0.925);
    -webkit-border-radius: 7px 7px 7px 7px;
       -moz-border-radius: 7px 7px 7px 7px;
            border-radius: 7px 7px 7px 7px;
    font-family: "Avenir Next LT W01 Demi","Hiragino Sans GB", "Microsoft Yahei", "微软雅黑";
}


/* *****************   POPOVERS   **************** */

div#overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -5;
    display: block;
    opacity: 0;
    transition: opacity 0.15s;
	transition-delay: 0;
    -webkit-transition: opacity 0.15s;
	-webkit-transition-delay: 0;
}


div#overlay.shown
{
    opacity: 1;
    z-index: 5;
}

#top_buttons
{
	top: 50px;
}

#top_buttons, #bottom_buttons
{
    position: relative;
}


div.popover
{
    position: absolute;

    transform-origin: 50% 100%;
    transform: scale(0);
    transition: transform 0.3s;
	transition-delay: 0;

    -webkit-transform-origin: 50% 100%;
    -webkit-transform: scale(0);
    -webkit-transition: -webkit-transform 0.3s;
	-webkit-transition-delay: 0;
}

div.open
{
	transform: scale(1);
	-webkit-transform: scale(1);
}




div.popover div.bubble
{
    position: absolute;
    top: 0; left: 0;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    background: white;
    width: 100%;
}


div.popover div.corner
{
    position: absolute;
    left: 50%;
    margin-left: -17.5px;
    width: 35px;
    height: 16px;
    background: url(../images/popover_corner.svg);
    bottom: 0px;
}

div.close_button
{
    position: absolute;
    left: 6px;
    top: 6px;
    background: url(../images/close_button.svg);
    width: 11px;
    height: 11px;
}

div.close_button:hover
{
    background: url(../images/close_button_hover.svg);
    cursor: pointer;
}



/* *****************   POPOVERS -> BUY POPOVER   **************** */

div#buy_popover
{
    bottom: 42px;
    left: 510px;
    width: 225px;
    height: 186px;
    background: none;
}


div#buy_popover div.bubble
{
    height: 170px;
}

div#buy_popover a, div#buy_popover a.directly
{
    position: absolute;
    display: block;
    width: 165px;
    height: 40px;
    left: 30px;
}

div#buy_popover a.mas
{
    top: 30px;
    background: url(../images/mas_button.svg);
}

div#buy_popover p
{
    position: absolute;
    left: 30px;
    top: 70px;
    height: 30px;
    width: 165px;
    line-height: 30px;
    text-align: center;
    color: #8D949F;
    font-size: 15px
}

div#buy_popover a.directly
{
    cursor: pointer;
    border: 0 !important;
    -webkit-border-radius: 6px 6px 6px 6px;
       -moz-border-radius: 6px 6px 6px 6px;
            border-radius: 6px 6px 6px 6px;
    top: 100px;
    background: rgb(65, 188, 87);
    font-family: "Avenir Next LT W01 Demi","Hiragino Sans GB", "Microsoft Yahei", "微软雅黑";
    color: white;
    font-size: 16px;
    line-height: 40px;
    padding: 0;
}


/* *****************   POPOVERS -> TRY POPOVER   **************** */

div#try_popover div.bubble
{
    height: 130px;
}

div#try_popover p.email_error
{
    text-align: left;
    position: relative;
    left: 31px;
    top: -4px;
    display: none;
    margin: 0;
    padding: 0;
    color: rgb(240,37,71);
}

div#try_popover
{
    bottom: 42px;
    left: 210px;
    width: 460px;
    height: 146px;
    background: none;
}

div#try_popover p
{
    color: #8D949F;
    font-family: "AvenirNextLTW01-Medium","Hiragino Sans GB", "Microsoft Yahei", "微软雅黑";
}

div#try_popover p.header
{
    font-size: 14px;
    margin: 8px 0 8px 0;
    padding: 0;
}

div#try_popover input[type=email]
{
    color: rgb(115, 115, 115);
    -webkit-border-radius: 6px 6px 6px 6px;
       -moz-border-radius: 6px 6px 6px 6px;
            border-radius: 6px 6px 6px 6px;
    border: 1px solid rgb(214, 214, 214);
    background: none;
    width: 285px;
    height: 39px;
    font-size: 16px;
    margin-left: 3px;
    padding-left: 7px;
}

div#try_popover input[type=submit]
{
    cursor: pointer;
    margin-left: 10px;
    color: rgb(115, 115, 115);
    border: 1px solid rgb(65, 188, 87);
    -webkit-border-radius: 6px 6px 6px 6px;
       -moz-border-radius: 6px 6px 6px 6px;
            border-radius: 6px 6px 6px 6px;
    background: rgb(65, 188, 87);
    font-family: "Avenir Next LT W01 Demi","Hiragino Sans GB", "Microsoft Yahei", "微软雅黑";
    color: white;
    width: 100px;
    height: 39px;
    font-size: 16px;
    position: relative;
    top: -1px;
}

div#try_popover input[type=submit]:hover,
div#buy_popover input[type=submit]:hover,
div#buy_popover a:hover
{
    opacity: 0.7;
}

div#try_popover_page1
{
    padding: 10px 0;
}


div#try_popover_page2
{
    display: none;
    padding: 0 20px;
}

div#try_popover.popover div.bubble div#try_popover_page2 p.note
{
    margin: 0;
    padding: 0;
    font-size: 12px;
}

div#try_popover_page2 p a
{
    color: rgb(33, 163, 228);
    transition: color 0.08s ease-in-out 0s;
}

div#try_popover_page2 p a:hover
{
    color: rgb(110, 207, 255);
}

div#try_popover_page2 ul
{
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 400px;
}

div#try_popover_page2 ul li
{
    font-family: "AvenirNextLTW01-Medium","Hiragino Sans GB", "Microsoft Yahei", "微软雅黑";
    font-size: 12px;
    margin-bottom: 0;
    list-style: none;
}



/* ***************** news popovers ****************** */

div#news_try_section
{
    position: relative;
    display: block;
}

div#news_try_section div#try_popover
{
    left: 305px;
}

div#news_try_section a#try_button_news
{
    width: 250px;
    background: rgb(38, 147, 190);
    color: white;
    border: none;
    line-height: 38px;
}

div#news_try_section a#try_button_news:hover
{
    opacity: 0.7;
    color: white;
}



div#news_buy_section
{
    margin: 20px 0;
    position: relative;
}

div#news_buy_section #buy_popover
{
    left: 420px;
}



div#news_buy_section a#buy_button_news
{
    background: rgb(65, 188, 87);
    color: white;
    border: none;
    line-height: 38px;
}

div#news_buy_section a#buy_button_news:hover
{
    opacity: 0.7;
    color: white;
}

div#news_buy_section a#buy_button_news
{

}





/* *****************   SECTIONS   **************** */


header, section, footer, article
{
    width: 1060px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}


section
{
    margin-top: 60px;
}

article.first_in_list
{
    margin-top: 120px;
}

article.list
{
    margin-top: 60px;
}

article
{
    margin-top: 40px;
}


article
{

}

/* *****************   SECTIONS -> HEADER   **************** */

header
{
    line-height: 80px;
    height: 80px;
	font-size: 15px;
	position: relative;
	width: 100%;
}


header > div
{
    position: relative;
    width: 1060px;
    margin: 0 auto 0 auto;
    padding: 0;
}


header.fixed
{
	position: fixed;
	top: 0;
	z-index: 90;
	background-color: rgba(255, 255, 255, 0.96);
    border-bottom: 1px rgba(0,0,0,0.1) solid;
}

div.behind_fixed_header
{
    height: 80px;
    padding: 0; margin: 0;
}


header a.home_button img
{
    position: absolute;
    top: 10px;
    left: 7px;
}

header nav ul
{
	margin: 0;
	line-height: 80px;
}


header nav ul li
{
	float: right;
	list-style-type: none;
    margin: 0 20px 0 0;
}

header nav ul li:first-child
{
	float: left;
	list-style-type: none;
    margin: 0 0 0 40px;
}

header nav a
{
	color: #8D949F;
	font-family: "AvenirNextLTW01-Medium","Hiragino Sans GB", "Microsoft Yahei", "微软雅黑";
    -webkit-transition: color 0.15s ease-in-out;
    -moz-transition: color 0.15s ease-in-out;
    transition: color 0.15s ease-in-out;
}

header nav a:hover
{
	color: #464A50;
}

header nav a.active
{
	color: black;
/*    font-family: "Avenir Next LT W01 Demi";*/
/*    border-bottom: 1px solid rgb(33, 163, 228);*/
}

header a.social_button
{
    line-height: 80px;
    float: right;
    margin-right: 20px;
}

header a.social_button img
{
    margin-top: 25px;
    width: 30px;
    height: 30px;
    vertical-align: top;
    -webkit-transition: opacity 0.15s ease-in-out;
    -moz-transition: opacity 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;
    opacity: 1;
}

header a.social_button img:hover
{
	opacity: 0.6;
}

header a.social_button:first-child
{
    margin-right: 0px;
}

header div.twitter-share-button
{
    float: right;
    position: relative;
    top: 9px;
}

header div.twitter-share-button a
{
    color: black;
}


/* *****************   SECTIONS -> INTERACTIVE SCREENSHOT   **************** */


section.interactive_screenshot
{
    margin-top: 0;
    background: url(../images/title_background.jpg) repeat-x 50% 0px;
    background-size: cover;
    height: 620px;
    width: 100%;
}

section.interactive_screenshot > div
{
    width: 1060px;
    margin: 0 auto 0 auto;
    padding: 0;
}

section.interactive_screenshot h2
{
    color: rgba(255, 255, 255, 0.93);
    margin: 0 0 0 20px;
    padding: 20px 0 0 0;
    height: 120px;

}

section.interactive_screenshot h3
{
    margin: 20px;
    padding: 0;
    color: white;
}

div.move-before-fixed-header
{
    position: absolute;
}

div.move-before-fixed-header a
{
    position: absolute;
    display: block;
    width: 1px;
    height: 1px;
    background: none;
    top: -70px;
}

/* *****************   SECTIONS -> HOW DOES IT WORK   **************** */


section.concept h2
{
    margin-top: 0;
}

section.concept div#conceptImage
{
    position: relative;
    float: right;
    width: 540px;
    height: 740px;
}

section.concept svg
{
    position: absolute;
}

section.concept svg#conceptDevices
{
    left: 140px;
    top: 480px;
}

section.concept svg#conceptCode
{
    left: 140px;
    top: 230px;
}



section.concept div#conceptImage canvas
{
    position: absolute;
    left: 20px;
    top: 0px;
}

section.concept p.bullet_header, section.concept p.bullet_text
{
    text-align: right;
}




/* *****************   SECTIONS -> STYLEKIT   **************** */


section.stylekit h2
{
    margin: 120px 0 40px 0;
    background: url(../images/badge_new.svg) no-repeat 630px 50%;
}

section.stylekit a, section.concept a
{
	color: #464A50;
    -webkit-transition: color 0.15s ease-in-out;
    -moz-transition: color 0.15s ease-in-out;
    transition: color 0.15s ease-in-out;
}

section.stylekit a:hover, section.concept a:hover
{
	color: rgb(33, 163, 228);
}

section.stylekit a img, section.variables a img, section.concept a img
{
    -webkit-transition: opacity 0.15s ease-in-out;
    -moz-transition: opacity 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;
}


section.stylekit a:hover img, section.variables a:hover img, section.concept a:hover img
{
    opacity: 0.5;
}

section.stylekit img.stylekit
{
    float: left;
}

/* *****************   SECTIONS -> VARIABLES   **************** */

section.variables h2
{
    background: url(../images/badge_new.svg) no-repeat 830px 50%;
}

section.variables a
{
	color: #464A50;
    -webkit-transition: color 0.15s ease-in-out;
    -moz-transition: color 0.15s ease-in-out;
    transition: color 0.15s ease-in-out;
}

section.variables a:hover
{
	color: rgb(33, 163, 228);
}

section.variables svg
{
    float: right;
}

section.variables
{
    width: 1160px;
    padding-left: 50px;
}

p.bullet_header
{
    display: inline-block;
    width: 519px;
    height: 40px;
    font-family: "AvenirNextLTW01-Medium","Hiragino Sans GB", "Microsoft Yahei", "微软雅黑";
    line-height: 40px;
    vertical-align: middle;
    font-size: 25px;
    margin: 0;
    padding: 0px 15px;
    color: #464A50;
}

p.bullet_text img
{
	float: none;
}

p.bullet_text
{
    display: inline-block;
    width: 519px;
    height: 60px;
    font-family: "AvenirNextLTW01-Regular","Hiragino Sans GB", "Microsoft Yahei", "微软雅黑";
    vertical-align: middle;
    font-size: 20px;
    margin: 0 0 20px 0;
    padding: 0px 15px;
    color: #8D949F;
    line-height: 28px;
}

p.bullet_text a
{
	color: rgb(33, 163, 228);
    -webkit-transition: color 0.08s ease-in-out;
    -moz-transition: color 0.08s ease-in-out;
    transition: color 0.08s ease-in-out;
	font-family: "AvenirNextLTW01-Medium","Hiragino Sans GB", "Microsoft Yahei", "微软雅黑";
}

p.bullet_text a:hover
{
	color: rgb(110, 207, 255);
}

p.bullet_text:last-child
{
    margin: 0;
}

section.variables p.bullet_header, section.variables p.bullet_text
{
    text-align: right;
}

div.center
{
    text-align: center
}





section div.box2x1
{
    padding: 0px 10px 0px 0px;
    width: 340px;
    height: 380px;
    float: left;
    margin: 0px 19px 40px 0;

}


section div.box2x1:nth-child(3n)
{
    margin: 0px 0 40px 1px;
}


section div.box2x1 h3
{
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    font-family: "AvenirNextLTW01-Medium","Hiragino Sans GB", "Microsoft Yahei", "微软雅黑";
    text-align: left;
    font-size: 25px;
    color: #464A50;
}

section div.box2x1 p
{
    margin: 0;
    padding: 0;
    font-family: "AvenirNextLTW01-Regular","Hiragino Sans GB", "Microsoft Yahei", "微软雅黑";
    text-align: left;
    font-size: 20px;
    color: #8D949F;
    line-height: 28px;
}


/* *****************   SECTIONS -> CUSTOMERS   **************** */

section.customers h2
{
    margin-top: 80px;
}

div.referrals
{
	margin-top: 80px;
}

div.referral
{
    padding: 0;
    width: 340px;
    height: 120px;
    float: left;
    margin: 40px 19px 0 0;
}

section div.referral:nth-child(3n)
{
    margin: 40px 0 0 1px;
}

div.referral p
{
    margin: 0;
    padding: 0;
    text-align: right;
}

div.referral p.text
{
    color: #8D949F;
    font-size: 16px;
    font-family: "AvenirNextLTW01-Regular","Hiragino Sans GB", "Microsoft Yahei", "微软雅黑";
    height: 80px;
    line-height: 25px;
}

div.referral p.name
{
    font-size: 20px;
    font-family: "AvenirNextLTW01-Medium","Hiragino Sans GB", "Microsoft Yahei", "微软雅黑";
    line-height: 40px;
    height: 40px;
    vertical-align: middle;
	color: #464A50;
}


section.customers img:first-child
{
    margin-left: 00px;
}

section.customers img:last-child
{
    margin-left: 19px;
}

section.customers img
{
    width: 160px;
    height: 80px;
    margin-left: 20px;
    padding: 0;
    border: 0;

}

/* *****************   SECTIONS -> INTERESTED   **************** */


section.interested h2
{
    margin-top: 110px;
}

/* *****************   SECTIONS -> BOTTOM BANNER   **************** */

section.bottom_banner
{
    margin: 120px 0 0 0;
    background: url(../images/title_background.jpg) repeat-x 50% 0px;
    background-size: cover;
    width: 100%;
    height: 160px;
    line-height: 160px;
}

section.bottom_banner > div
{
    margin: 0 auto;
    padding: 0;
    width: 1060px;
}

section.bottom_banner > div *
{
    display: inline-block;
}

section.bottom_banner form label
{
    color: rgba(255, 255, 255, 0.925);
    width: 160px;
    margin: 0 20px 0 0;
    text-align: right;
    font-size: 25px;
    font-family: "AvenirNextLTW01-Regular","Hiragino Sans GB", "Microsoft Yahei", "微软雅黑";
    vertical-align: middle;
/*    height: 40px;
    line-height: 40px;*/
}


section.bottom_banner form input[type=email]
{
    width: 337px;
    height: 40px;
    margin: 0 26px 0 0;
    font-size: 18px;
    font-family: "AvenirNextLTW01-Medium","Hiragino Sans GB", "Microsoft Yahei", "微软雅黑";
    color: rgba(255, 255, 255, 0.9);
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.886);
    padding: 4px;
}

section.bottom_banner form input[type=submit]
{
    width: 160px;
    height: 40px;
    background: none;
    font-size: 18px;
    font-family: "Avenir Next LT W01 Demi","Hiragino Sans GB", "Microsoft Yahei", "微软雅黑";
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.886);
    -webkit-border-radius: 7px 7px 7px 7px;
       -moz-border-radius: 7px 7px 7px 7px;
            border-radius: 7px 7px 7px 7px;
    cursor: pointer;
    -webkit-transition: background-color 0.15s ease-in-out;
    -moz-transition: background-color 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out;
}

section.bottom_banner form input[type=submit]:hover
{
	background-color: rgba(255, 255, 255, 0.2);
}


section.bottom_banner div.follow
{
    width: 160px;
    vertical-align: middle;
    text-align: right;
    font-size: 25px;
    font-family: "AvenirNextLTW01-Regular","Hiragino Sans GB", "Microsoft Yahei", "微软雅黑";
    color: rgba(255, 255, 255, 0.886);

}



section.bottom_banner a.social_button
{
    margin-left: 20px;
}

section.bottom_banner a.social_button svg,
section.bottom_banner a.social_button img
{
    vertical-align: middle;
    width: 40px;
    height: 40px;
    opacity: 0.85;
    -webkit-transition: opacity 0.15s ease-in-out;
    -moz-transition: opacity 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;
}

section.bottom_banner a.social_button svg:hover,
section.bottom_banner a.social_button img:hover
{
    opacity: 1;
}


/* *****************   SECTIONS -> FOOTER   **************** */


footer div.copyright
{
    display: block;
    height: 40px;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    color: rgb(184, 184, 184);
    font-family: "AvenirNextLTW01-Medium","Hiragino Sans GB", "Microsoft Yahei", "微软雅黑";
}

footer div.copyright a
{
	color: rgb(184, 184, 184);
    -webkit-transition: color 0.08s ease-in-out;
    -moz-transition: color 0.08s ease-in-out;
    transition: color 0.08s ease-in-out;
}

footer div.copyright a:hover
{
	color: rgb(33, 163, 228);
}

path#twitterLogo2, path#facebookLogo2
{
    fill: white;
}




/* *****************   NEWS   ******************* */

section.cover_photo.thin_cover_photo
{
    background-image: url(../images/title_background.jpg);
    background-position: 50% 0;
    background-size: cover;
    background-color: black;
    width: 100%;
    margin: 0;
}


/* *****************   SUPPORT   **************** */

section.cover_photo
{
    background-image: url(../images/bratislava.jpg);
    background-position: 50% -100px;
    background-size: 1060px 507px;
    background-color: black;
    background-repeat: no-repeat;
    height: 358px;
    width: 100%;
    margin: 0;
}

section.thin_cover_photo
{
    height: 120px;
    background-position: 0 -85px;
}

section.cover_photo h2
{
    color: rgba(255, 255, 255, 0.925);
    margin-top: 0;
    padding-top: 20px;
}

section.support
{
    padding-top: 0;
    padding-bottom: 80px;
    color: #464A50;
}

section.support a
{
	color: rgb(33, 163, 228);
    -webkit-transition: color 0.08s ease-in-out;
    -moz-transition: color 0.08s ease-in-out;
    transition: color 0.08s ease-in-out;
}

section.support a:hover
{
	color: rgb(110, 207, 255);
}

section.support section
{
    margin-top: 60px;
}

section.support div.title
{
    display: inline-block;
    width: 340px;
    text-align: right;
    font-family: "Avenir Next LT W01 Demi","Hiragino Sans GB", "Microsoft Yahei", "微软雅黑";
    font-size: 32px;
}

section.support div.content
{
    display: inline-block;
    vertical-align: top;
    width: 520px;
    text-align: left;
    font-family: "FreightText Book","Hiragino Sans GB", "Microsoft Yahei", "微软雅黑";
    margin: 0 0 0 20px;
}

section.support div.content p
{
    margin: 0;
    padding: 0;
}

section.support div.content > p
{
    margin-top: 20px;
}

section.support div.content > p:first-child
{
    margin-top: 0;
}

section.support img
{
    width: 43px;
    height: 60px;
    vertical-align: middle;
    margin-right: 22px;
}

section.support div.links
{
    padding-top: 10px;
}

/* *****************   NEWS DETAIL   **************** */



a.continue
{
    color: rgb(33, 163, 228);
    padding-right: 20px;
   /* width: 180px;*/
    background: url(../images/arrow_next_thin.svg) no-repeat 100% 50%;
    font-size: 20px;
    height: 30px;
    display: inline-block;
}


article img.title
{
    float: left;
    width: 140px;
    height: 140px;
    margin-left: 20px;
}

article
{
	color: #464A50;
}

article h2
{
    width: 700px;
    margin-top: 0;
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 20px;
    font-size: 35px;
    line-height: 50px;
    font-family: "Avenir Next LT W01 Demi","Hiragino Sans GB", "Microsoft Yahei", "微软雅黑";
    text-align: left;
    color: #464A50;
}

article h2 a
{
	color: #464A50;
}

article h3
{
    width: 700px;
    margin: 40px 180px 0px 180px;
    line-height: 40px;
    font-family: "Avenir Next LT W01 Demi","Hiragino Sans GB", "Microsoft Yahei", "微软雅黑";
    font-size: 25px;
    text-align: left;
}

article img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 20px;
}

article a
{
	color: rgb(33, 163, 228);
    -webkit-transition: color 0.08s ease-in-out;
    -moz-transition: color 0.08s ease-in-out;
    transition: color 0.08s ease-in-out;
}

article a:hover
{
	color: rgb(110, 207, 255);
}

article p, article ul, article ol
{
    margin: 0px 180px 20px 180px;
    padding: 6px 0;
    font-family: "FreightText Book","Hiragino Sans GB", "Microsoft Yahei", "微软雅黑";
}

article pre
{
    margin: 0px 180px 20px 180px;
    font-size: 18px;
}


article blockquote
{
    background: url(../images/line.svg) repeat-y 0 0, url(../images/ball8.svg) no-repeat 0 100%, url(../images/ball8.svg) no-repeat 0 0%;
    margin: 0px 180px 20px 152px;
    padding: 6px 0 0px 28px ;
    font-family: "FreightText Book","Hiragino Sans GB", "Microsoft Yahei", "微软雅黑";
}


article blockquote.big
{
    float: right;
    margin: 20px 0 0 20px;
    background: url(../images/line.svg) repeat-y 0 0, url(../images/ball8.svg) no-repeat 0 100%, url(../images/ball8.svg) no-repeat 0 0%;
    width: 340px;
    padding: 4px 20px 4px 30px;
    font-size: 28px;
    color: rgb(33, 163, 228);




}

article blockquote
{
    font-family: "FreightText BookItalic","Hiragino Sans GB", "Microsoft Yahei", "微软雅黑";
}

article ul
{
    margin-left: 210px;
}

article ul li
{
    list-style-image: url(../images/ball10.svg);
    margin-bottom: 20px;
    margin-left: 2px;
}

section ul li:last-child
{
    margin-bottom: 0;
}

article img.right, section.documentation img.right
{
    float: right;
    margin-left: 20px;
    width: 340px;
}

article img.left, section.documentation img.left
{
    float: left;
    margin-right: 20px;
    width: 340px;
}

article hr, section.documentation section.entry hr
{
    clear: both;
    width: 180px;
    border: 0;
    border-bottom: 1px solid rgb(158, 165, 175);
    opacity: 0.5;
/*    border-bottom: 2px solid rgb(33, 163, 228);*/
    margin: 30px auto;
}




/* *****************   DOCUMENTATION   **************** */

section.documentation
{
    padding: 0;
    margin-top: 0;
    font-family: "FreightText Book","Hiragino Sans GB", "Microsoft Yahei", "微软雅黑";
    color: #464A50;
}


section.documentation p
{
    margin-bottom: 20px;
}


section.documentation nav.main
{
    width: 340px;
    float: left;
/*
    position: absolute;
    top: 120px;
    display: block;
    */
}

section.documentation nav.main ul
{
    margin: 0;
    padding-left: 0px;
}

section.documentation nav.main a
{
    -webkit-transition: color 0.08s ease-in-out;
    -moz-transition: color 0.08s ease-in-out;
    transition: color 0.08s ease-in-out;
    color: #464A50;
}

section.documentation nav.main li.active a
{
	color: #4199E7;
}

section.documentation nav.main > ul > li a
{
    background: url(../images/arrow_closed.svg) no-repeat 0 50%;
    padding-left: 20px;
    text-decoration: none;
}

section.documentation nav.main > ul > li.active a
{
    background: url(../images/arrow_open.svg) no-repeat 0 50%;
}

section.documentation nav.main a:hover
{
    color: #4199E7;
}

section.documentation nav.main ul > ul
{
    padding-left: 40px;
}

section.documentation nav.main > ul > li
{
    font-family: "Avenir Next LT W01 Demi","Hiragino Sans GB", "Microsoft Yahei", "微软雅黑";
    font-size: 22px;
    list-style: none;
    height: 40px;
    line-height: 40px;
    margin: 0;
}

section.documentation nav.main ul > ul > li
{
    font-family: "AvenirNextLTW01-Regular","Hiragino Sans GB", "Microsoft Yahei", "微软雅黑";
    font-size: 16px;
    list-style: none;
    margin: 0 0 0 0px;
    line-height: 30px;
}



section.documentation section.entry
{
    margin: 0;
    padding: 0;
    width: 700px;
    margin-left: 360px;
}

section.documentation h2, section.documentation h3, section.documentation h4
{
    text-align: left;
}

section.documentation h2
{
    line-height: 40px;
    font-size: 35px;
    font-family: "Avenir Next LT W01 Demi","Hiragino Sans GB", "Microsoft Yahei", "微软雅黑";
    margin-bottom: 20px;
}

section.documentation a
{
	color: rgb(33, 163, 228);
    -webkit-transition: color 0.08s ease-in-out;
    -moz-transition: color 0.08s ease-in-out;
    transition: color 0.08s ease-in-out;
}

section.documentation a:hover
{
	color: rgb(110, 207, 255);
}

section.documentation img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 40px;
}

section.documentation h3
{
    margin: 40px 0px 0px 0px;
    padding: 0;
    font-size: 25px;
    font-family: "Avenir Next LT W01 Demi","Hiragino Sans GB", "Microsoft Yahei", "微软雅黑";
}

section.documentation img.full
{
    width: 700px;
}

section.documentation blockquote
{
    background: url(../images/line.svg) repeat-y 0 0, url(../images/ball8.svg) no-repeat 0 100%, url(../images/ball8.svg) no-repeat 0 0%;
    margin: 20px 0 20px -28px;
    padding: 0px 0 0px 28px ;
    font-family: "FreightText BookItalic","Hiragino Sans GB", "Microsoft Yahei", "微软雅黑";
}

section.documentation section.entry h2
{
       margin-top: 40px;
}

section.documentation .entry ul
{
    margin-left: 0px;
    padding-left: 30px;
}

section.documentation .entry ul li
{
    padding-left: 2px;
    list-style-image: url(../images/ball10.svg);
    margin-bottom: 20px;
}

section.documentation nav.prev_next
{
    margin-left: 360px;
    width: 700px;
    margin-top: 80px;
}

section.documentation nav.prev_next a
{
    display: inline-block;
    height: 40px;
    padding-left: 40px;
    line-height: 40px;
    color: rgb(33, 163, 228);
    font-family: "Avenir Next LT W01 Demi","Hiragino Sans GB", "Microsoft Yahei", "微软雅黑";
    font-size: 20px;
    -webkit-transition: color 0.15s ease-in-out;
    -moz-transition: color 0.15s ease-in-out;
    transition: color 0.15s ease-in-out;
}


section.documentation nav.prev_next a:hover
{
	color: rgb(110, 207, 255);
}

section.documentation nav.prev_next a.previous
{
    background: url(../images/arrow_prev_big.svg) no-repeat 0 50%;
    padding-left: 40px;
    text-align: left;
}

section.documentation nav.prev_next a.next
{
    background: url(../images/arrow_next_big.svg) no-repeat 100% 50%;
    padding-right: 40px;
    text-align: right;
    float: right;
}


/* *****************   EXAMPLES   **************** */

section.examples
{
    margin-top: 120px;
}

section.examples div.box2x1
{
    text-align: left;
    height: 480px;
}


section.examples div.box2x1 span.number
{
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
    border: 1px solid rgb(33, 163, 228);
    color: rgb(33, 163, 228);
    padding: 0; margin: 0;
    height: 30px;
    vertical-align: middle;
    line-height: 30px;
    width: 30px;
    border-radius: 16px;
    text-align: center;
}



section.examples div.box2x1 h3
{
    display: inline;
}


section.examples p.example-description
{
    font-size: 16px;
    color: #8D949F;
    line-height: 22px;
    margin-top: 5px;
}

section.examples a.download:hover
{
   background-color: rgba(33, 163, 228, 0.15);
}


section.examples a.download
{
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    line-height: 28px;
    color: rgb(33, 163, 228);
    padding: 0 8px;
    height: 30px;
    display: inline-block;

    border: 1px solid rgb(33, 163, 228);
    -webkit-border-radius: 6.5px 6.5px 6.5px 6.5px;
       -moz-border-radius: 6.5px 6.5px 6.5px 6.5px;
            border-radius: 6.5px 6.5px 6.5px 6.5px;
    font-family: "AvenirNextLTW01-Regular","Hiragino Sans GB", "Microsoft Yahei", "微软雅黑";

    background-color: rgba(33, 163, 228, 0);

    -webkit-transition: background-color 0.15s ease-in-out;
    -moz-transition: background-color 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out;


}

section.examples div.box2x1 h3, section.examples div.box2x1 p
{
    text-align: left;
}

div.exampleImg
{
    background-position: -1px -1px;
    background-repeat: no-repeat;
    border: 1px solid rgba(0, 0, 0, 0.15);
/*    border-radius: 6.5px;*/
    height: 198px;
    width: 338px;
}

section.examples a.example-thumbnail
{
    position: relative;
    display: inline-block;
}

section.examples a.example-thumbnail > img
{
    position: absolute;


    top: 85px;
    left: 140px;


    opacity: 1;

/*
width: 150px;
    top: 60px;
    left: 100px;

    */
    z-index: 80;
}

section.examples a.example-thumbnail div, section.examples a.example-thumbnail > img
{
    -webkit-transition: opacity 0.15s ease-in-out;
    -moz-transition: opacity 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;

}

section.examples a.example-thumbnail
{
    background-color: black;
}

section.examples a.example-thumbnail div
{
    opacity: 1;
}

section.examples a.example-thumbnail:hover div
{
    opacity: 0.88;
}

section.examples a.example-thumbnail:hover > img
{
    opacity: 0.8;
}

/*
section div img
{
    width: 340px;
    height: 200px;
}
*/





@media only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (min--moz-device-pixel-ratio: 2),
       only screen and (-o-min-device-pixel-ratio: 2/1),
       only screen and (min-device-pixel-ratio: 2),
       only screen and (min-resolution: 2dppx) {

	img.retinaVersion
	{
		display: block !important;
	}

	img.nonRetinaVersion
	{
		display: none !important;
	}
}


@media only screen and (max-width: 1100px)
{
    header.fixed
    {
        position: static !important;
        z-index: 90;
    }

    div.behind_fixed_header
    {
        display: none;
    }
}
